<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table,td,th{
      border: 1px solid black;
    }
    .disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
div{
  display: flex;
  gap:10px;
}

.pagination{
  display: flex;
  gap:20px;
  justify-content: center;
}
.page-link{
  text-decoration: none;
}
.page-item{
  text-decoration: none;
  list-style: none;
  font-size: 30px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
  </style>
</head>

<body>
  <h3 style="text-align: center;">24DEV081 vijaykumar solanki</h3>
   <h3 style="text-align: center;">Pagination and sorting</h3>
 
  <table>
    <tr>
   <th><a href="/pagination?sort=firstname&sortOrder=<%=sortBy==='firstname' && sortOrder==='asc'?'desc':'asc'%>"><span style='font-size:50px;color: blue;'>&#8597;</span></a>FirstName</th>
    <th><a href="/pagination?sort=middlename&sortOrder=<%=sortBy==='middlename' && sortOrder==='asc'?'desc':'asc'%>"><span style='font-size:50px;color: blue;'>&#8597;</span></a>Middle Name</th>
    <th><a href="/pagination?sort=DOB&sortOrder=<%=sortBy==='DOB' && sortOrder==='asc'?'desc':'asc'%>"><span style='font-size:50px;color: blue;'>&#8597;</span></a>DOB</th>
   
    <th><a href="/pagination?sort=emailId&sortOrder=<%=sortBy==='emailId' && sortOrder==='asc'?'desc':'asc'%>"><span style='font-size:50px;color: blue;'>&#8597;</span></a>emailID</th>
    <th><a href="/pagination?sort=city&sortOrder=<%=sortBy==='city' && sortOrder==='asc'?'desc':'asc'%>"><span style='font-size:50px;color: blue;'>&#8597;</span></a>city</th>
    <th><a href="/pagination?sort=country&sortOrder=<%=sortBy==='country' && sortOrder==='asc'?'desc':'asc'%>"><span style='font-size:50px;color: blue;'>&#8597;</span></a>country</th>
  
  
  
  </tr>
  
    <% data.forEach(entry=>{ %>
       <tr>
        <td><%= entry.firstname%></td>
        <td><%= entry.middlename%> </td>
        
        <td><%= entry.DOB %> </td>
        
        <td><%= entry.emailId%> </td>
    
        <td><%= entry.city %> </td>
       
        <td><%= entry.country %> </td>
    
       
       </tr> 
    <%  }) %>
  </table>

   
   <nav>
    <ul class="pagination">
      <li class="page-item"><a  class="page-link" href="/pagination?pages=1"><<</a></li>
      <% if( hasPreviousPage) { %>

        <li class="page-item"><a  class="page-link" href="/pagination?pages=<%= previousPage%>&sort=<%= sortBy%>&sortOrder=<%=sortOrder%>"><</a></li>
        <% } else {%>
          <li class="page-item disabled"><span class="page-link"><</span></li>
          <% } %>
          <li class="page-item"><%=currentPage%></li>
          <% if(hasNextPage){%>
            <li class="page-item">
              <a href="/pagination?pages=<%=nextPage%>&sort=<%= sortBy%>&sortOrder=<%=sortOrder%>" class="page-link">></a>
            </li>
            <% } else { %>
              <li class="page-item disabled">
                <span class="page-link">></span>
              </li>
              <% }%>
              <li class="page-item">
                <a href="/pagination?pages=<%=lastIndex%> &sort=<%= sortBy%>&sortOrder=<%=sortOrder%>" class="page-link">>></a>
              </li>
    </ul>
   </nav>



  <script>
   
</script>
</body>

</html>